body {
    background-image: url("https://images.unsplash.com/photo-1600628421066-f6bda6a7b976?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGZvb2QlMjBmcmllbmRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(94, 97, 93, 0.9);
    font-family: "Montserrat", sans-serif;
}

.mainContainer {
    display: flex;
    justify-content: center;
}

#container {
    background-color: rgba(94, 97, 93, 0.9);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    border-radius: 40px;
    color: white;
}

.userValue {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p {
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #f7DBF0;
    align-self: center;
}


input {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    align-self: center;
    border-radius: 10px;
    background-color: #F7DBF0;
    transition: background-color 0.3s ease;
}

input:hover {
    background-color: #78DEC7;
    cursor: pointer;
}

span {
    align-self: center;
}

button:hover {
    cursor: pointer;
}

#addTip {
    background-color: #78DEC7;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

#btn {
    background-color: #F7DBF0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

#tip {
    font-family: 'Montserrat', sans-serif;
    display: none;
}

#showTotalAmountToPay {
    display: flex;
}

#billSpill,
#totalTip,
#totalAmount {
    margin: 20px;
    background-color: rgba(148, 198, 142, 0.9);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    display: none;
}

#dividedBill,
#dividedTip,
#billAndTip {
    color: #8D0B41;
    font-size: 25px;
}

@media  all and (max-width: 500px) {
    #container {
        width: 90%;
    }
}